@page
@model WebApplication1.Pages.CalculatorModel
@{
    ViewData["Title"] = "Calculator";

}


<h3>Calculator</h3>

@if (Model.hasData)
{
    <p>Question: @Model.calInput </p>
    <p>Answer: @Model.ans </p>
}

<div class="container">
    <form method="POST">
        <label for="calInput">Input</label><br>
        <input type="text" id="calInput" name="calInput" /><br />

        <input type="submit" value="Submit" />
    </form>
</div>